# Análise de Dados

Análise de dados, aprendizado de máquina (_Machine Learning_), _Data Science_, Inteligência Artificial. O que tudo isso tem em comum? 

Todas giram em torno de **manipular e transformar dados em informações úteis**, em geral para que nós humanos tomemos decisões melhores. E analisar os dados é a primeira coisa que um profissional dessas carreiras vai fazer. Um Cientista de Dados só conseguirá montar um modelo preditivo de vendas se entender mais dos dados, por exemplo. 

Por isso, vamos começar essa série de aulas conhecendo os dados. E nada mais divertido do que analisar os dados da Copa do Mundo de 2022 no Qatar!

# Jupyter Notebooks

Jupyter Notebooks é uma das ferramentas mais queridinhas de um cientista de dados. Provavelmente o motivo disso é ser um ambiente extremamente versátil, que permite rodar trechos de códigos por partes, criar anotações com detalhes e figuras, imagens dinâmicas que respondem com mouse etc. Ou seja, o inverso do que um terminal comum costuma fazer (rs). 

Se estás com problemas para usá-lo ou precisa instalá-lo, veja detalhes no arquivo `README_VIRTUALENV.md` na raiz deste projeto.

Vamos entender o basicão de notebooks.

## Células

Um notebook é dividido em células, tantas quantas forem necessárias. Cada célula roda um trecho de código, de forma que você pode seguir uma linha de raciocínio enquanto explora os dados. A ideia por trás disso é que, ao fazer análise de dados, precisamos iterar várias vezes, rodar pequenas partes para entender melhor, e ainda manter uma visão cronológica das células em ordem. 

Exercício:
- crie células abaixo desta e as apague. Crie e apague usando a aba superior ou com atalhos.

Os notebooks têm 2 modos de navegação: _ Edit mode and Command mode_. O primeiro é quando você consegue editar o que há nas células; no segundo você navega entre células. Com `Esc` você entra no modo comando (navegação), com `Enter` você entra no modo edição.

Exercício: 
- Fique do modo de comando e navegue pelas células. Depois, entre no modo comando e experimente editar algo nesta célula. Use "Ctrl+Enter" para executar o que há nas células e ver sua alteração.

## Markdowns

A maioria das pessoas que já teve contato com tecnologia já entende como escrever em markdowns, e aqui não é diferente. Use um ou vários `#` para criar títulos em níveis, `-` para bullet points, `>` para citações, entre outras coisas como hyperlinks ([mais detalhes sobre markdowns no jupyter](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd)).

Outra grande funcionalidade é escrever equações com LaTeX, muito usada em exatas, como:
$$\vec{F} = m \cdot \vec{a}$$

Exercício:
- Faça uma célula abaixo e treine alguns títulos diferentes, usando um ou vários `#`. Experimente fazer bullet points e identá-los também.

Extra:
- se tiver interesse em saber mais sobre LaTeX, veja um post [resumido aqui](https://www.overleaf.com/learn/latex/Learn_LaTeX_in_30_minutes).

## Bash

Seu amigo terminal não está sozinho. As células aqui podem executar comandos em `bash` através de "comandos mágicos", que são caracteres usados logo no início da célula. No caso do bash, é o `!`:

In [1]:
!ls

'Aula 1 - Análise de Dados.ipynb'   __pycache__

# Chega! Me mostre os dados!

Chega de enrolação. Vamos ver logo os dados da Copa? Afinal, **pra quê** você gostaria de saber o que há de informação sobre os dados da copa? Será que podemos extrair padrões de lá? Entender times fortes, padrões históricos e muito mais?

Toda análise de dados começa vendo os dados. Esses dados são um compilado já feito sobre partidas de futebol em todo o mundo de 1872 a 2022. A fonte dele é o [Kaggle](https://www.kaggle.com/datasets/brenda89/fifa-world-cup-2022).

## `pandas`

`pandas` é provavelmente a biblioteca mais usada em ciência de dados, do básico ao avançado. Ela foi criada por _Wes McKinney_ em um fundo de investimentos de 2007 a 2010, sendo liberada para open-source em 2009.


> Dica de ouro #1: não ter medo de ver a implementação das coisas aos poucos! [github do projeto](https://github.com/pandas-dev/pandas) aqui.

> Dica de ouro #2: procurar dúvidas na própria [documentação](https://pandas.pydata.org/docs/), preferencialmente!

Curiosidade: como se vê o primeiro commit de um projeto?

In [2]:
# Resposta
# git log --reverse

In [3]:
import pandas as pd

In [4]:
!ls ../../datasets/predictions

quatar2022_features.csv

In [5]:
!head -n 10 ../../datasets/predictions/quatar2022_features.csv

date,home_team,away_team,tournament,city,country,neutral_location,year,home_team_fifa_rank,home_team_total_fifa_points,home_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_fifa_rank,away_team_total_fifa_points,away_team_goalkeeper_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
2022-11-20,Qatar,Ecuador,FIFA World Cup,Al Khor,Qatar,False,2022,52,1437,,,,,46,1452,71.0,73.5,76.0,74.5
2022-11-21,Senegal,Netherlands,FIFA World Cup,Doha,Qatar,True,2022,20,1584,83.0,79.0,80.7,79.0,10,1658,81.0,85.2,83.0,83.5
2022-11-21,England,Iran,FIFA World Cup,Al Rayyan,Qatar,True,2022,5,1761,83.0,85.0,88.0,84.0,21,1564,73.0,69.0,75.3,69.0
2022-11-21,United States,Wales,FIFA World Cup,Al Rayyan,Qatar,True,2022,15,1633,77.0,75.8,77.7,75.8,18,1588,74.0,75.0,73.0,78.5
2022-11-22,Argentina,Saudi Arabia,FIFA World Cup,Lusail,Qatar,True,2022,4,1765,84.0,82.2,89.0,84.0,49,1444,70.0,72.8,67.7,72.8
2022-11-22,Mexico,Poland,FIFA World Cup,Doha,Qatar,True,2022,9,1658,80.0,76.8,82.7,78.2,26,1544,87.0,75.2,84.7,75.8
2022-11-22,Denmark,Tunisia,FIFA World Cup,Al Rayyan,Qatar,True,2022,11,1653,85.0,80.2,77.7,80.2,35,1499,58.0,70.8,72.3,74.0
2022-11-22,France,Australia,FIFA World Cup,Al Wakrah,Qatar,True,2022,3,1789,87.0,84.2,88.3,86.8,42,1462,77.0,72.0,72.3,73.5
2022-11-23,Germany,Japan,FIFA World Cup,Al Rayyan,Qatar,True,2022,12,1650,90.0,84.0,82.7,87.8,23,1553,73.0,75.2,75.0,77.5

In [6]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

os objetos do pandas tem suas próprias de dados. Tudo começa com `DataFrames` e `Series`.

In [7]:
df = pd.read_csv('../../datasets/fifa_world_cup_2022/fifa_world_cup_2022.csv')

df.tail(10)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,No,Draw,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8
23912,2022-06-14,Bosnia and Herzegovina,Finland,Europe,Europe,59,57,1388,1406,3,...,No,Win,76.0,83.0,74.2,77.0,78.0,70.0,72.3,73.5
23913,2022-06-14,Romania,Montenegro,Europe,Europe,48,70,1446,1342,0,...,No,Lose,77.0,65.0,73.5,73.7,75.0,76.2,74.7,68.2
23914,2022-06-14,Luxembourg,Faroe Islands,Europe,Europe,94,124,1229,1137,2,...,No,Draw,69.0,NaN,68.5,NaN,69.8,NaN,NaN,NaN
23915,2022-06-14,Turkey,Lithuania,Europe,Europe,43,138,1461,1092,2,...,No,Win,79.0,71.0,78.2,76.7,78.2,NaN,NaN,NaN
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df.date)

pandas.core.series.Series

As `Series` têm diversos tipos de dados também, quase sempre análogos aos tipos básicos do python (mais info [aqui](https://pbpython.com/pandas_dtypes.html)).

> Tipos de dados são importantes. Sem prestar atenção a eles, assim como construção de software, podemos cair em muitos erros!

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

## Perguntas interessantes aos dados

Agora que vimos os dados, conseguimos pensar em como extrair insights deles? 

Aqui vão algumas perguntas, separadas em nível crescente de dificuldade e contexto, e que vão nos ajudar a entender mais desses dados e aprender mais juntos.

### 1. Dados gerais

- Qual o tamanho do dataset?
- Quantos países distintos há nas partidas?
- Quantos anos há de informação?
- Em quantas cidades temos registros de partidas?
- Quantas copas há no dataset?
- O que quer dizer a coluna `neutral_location`? Quantas partidas há em cada caso dessa coluna?

###  Qual o tamanho do dataset?

In [11]:
df.shape

(23921, 25)

### Quantos países distintos há nas partidas?

In [12]:
l = df.home_team.to_list() + df.away_team.to_list()
len(set(l))

211

In [13]:
l[:10]

['Bolivia',
 'Brazil',
 'Ecuador',
 'Guinea',
 'Paraguay',
 'Peru',
 'Zimbabwe',
 'Guinea',
 'Faroe Islands',
 'Sweden']

### Quantos anos há de informação?

In [14]:
df['date'] = pd.to_datetime(df.date)
df['year'] = df['date'].dt.year

df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993

In [15]:
print("anos distintos: ", df.year.nunique())
print("min e max de anos: ", df.year.min(), df.year.max())

anos distintos:  30
min e max de anos:  1993 2022

### Em quantas cidades temos registros de partidas?

In [16]:
df.city.nunique()

1576

### Quantas copas há no dataset?

In [17]:
# usando referências de índices para ajudar

df[df.tournament.str.contains("FIFA")].tournament.unique()

array(['FIFA World Cup qualification', 'FIFA World Cup'], dtype=object)

In [18]:
df[df.tournament == 'FIFA World Cup'].year.unique()

array([1994, 1998, 2002, 2006, 2010, 2014, 2018])

### O que quer dizer a coluna `neutral_location`? Quantas partidas há em cada caso dessa coluna?

In [19]:
# Vendo na documentação do dataset, quer dizer
# se os times jogaram em local neutro ou a favor de um deles

# encontra locais onde foi neutro e seleciona colunas
df[df.neutral_location].sample(5)[['date', 'home_team', 'away_team', 'city', 'neutral_location']]

,date,home_team,away_team,city,neutral_location
11085,2008-01-26,Egypt,Sudan,Kumasi,True
22639,2021-06-11,Malaysia,Vietnam,Dubai,True
22233,2020-11-16,USA,Panama,Wiener Neustadt,True
22823,2021-08-26,Sudan,Niger,Dubai,True
1251,1996-01-15,Sierra Leone,Burkina Faso,Bloemfontein,True

In [20]:
# encontra locais onde NÂO foi neutro e seleciona colunas
# repare o uso do operador '~'

df[~df.neutral_location].sample(5)[['date', 'home_team', 'away_team', 'city', 'neutral_location']]

            date  home_team             away_team      city  neutral_location
2220  1997-04-06     Canada           El Salvador   Burnaby             False
21545 2019-09-10  Lithuania              Portugal   Vilnius             False
1496  1996-06-02   Bulgaria  United Arab Emirates     Sofia             False
14280 2011-09-02   Dominica             Nicaragua    Roseau             False
11857 2008-10-11    Germany                Russia  Dortmund             False

# 2. Investigando mais a fundo

- Encontre as partidas do Brasil vs Alemanha
- Qual o time com mais vitórias? E no torneio da Copa?
- Qual o time menos vitórias? e na Copa?
- Quantos jogos por ano? Quantos torneios por ano?
- Quantos países sediam jogos por ano? Qual país mais sediou jogos? 
- Quais times tem mais ofensa, defesa e meio campo?
- Existem times que nunca se enfrentaram? Se sim, quantas partidas poderiam ser jogadas entre dois times mas nunca foram?

In [21]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  datetime64[ns]
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
 25  year                           23921 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(8), int64(7), object(9)
memory usage: 4.6+ MB

### Encontre as partidas do Brasil vs Alemanha

In [23]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993

In [24]:
df.shape

(23921, 26)

In [25]:
l = [1,2,3]

l[2]

3

In [26]:
type(df.neutral_location)

pandas.core.series.Series

In [27]:
df[df['neutral_location']]

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
55,1993-09-22,Mexico,Cameroon,North America,Africa,14,24,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
58,1993-09-22,San Marino,Netherlands,Europe,Europe,119,16,0,0,0,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
67,1993-09-29,Mexico,Poland,North America,Europe,16,22,0,0,0,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
72,1993-10-06,Mexico,South Africa,North America,Africa,16,95,0,0,4,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
91,1993-10-15,Korea DPR,Iraq,Asia,Asia,64,59,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23899,2022-06-14,Bahrain,Turkmenistan,Asia,Asia,89,134,1262,1117,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
23901,2022-06-14,Myanmar,Singapore,Asia,Asia,152,158,1044,1012,2,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
23905,2022-06-14,Haiti,Guyana,North America,South America,90,174,1261,961,6,...,Win,66.0,51.0,NaN,NaN,63.0,NaN,NaN,NaN,2022
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,Draw,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8,2022
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2,2022

In [28]:
# forma 1
df[
    ( (df.home_team == 'Brazil') & (df.away_team == 'Germany') )
    |
    ( (df.home_team == 'Germany') & (df.away_team == 'Brazil') )
]

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
131,1993-11-17,Germany,Brazil,Europe,South America,4,1,0,0,2,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2950,1998-03-25,Germany,Brazil,Europe,South America,2,1,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
3840,1999-07-24,Brazil,Germany,South America,Europe,1,5,0,0,4,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
6410,2002-06-30,Germany,Brazil,Europe,South America,11,2,0,0,0,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
8318,2004-09-08,Germany,Brazil,Europe,South America,11,1,0,0,1,...,Draw,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2004
8990,2005-06-25,Germany,Brazil,Europe,South America,21,1,0,0,2,...,Lose,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2005
14204,2011-08-10,Germany,Brazil,Europe,South America,3,4,0,0,3,...,Win,86.0,86.0,82.0,83.3,82.2,84.5,84.0,81.8,2011
16931,2014-07-08,Brazil,Germany,South America,Europe,3,2,1242,1299,1,...,Lose,82.0,87.0,84.8,84.0,83.2,84.5,84.7,86.0,2014
20216,2018-03-27,Germany,Brazil,Europe,South America,1,2,1609,1489,0,...,Lose,92.0,83.0,85.8,82.0,87.5,86.8,87.0,83.8,2018

In [29]:
# forma 2

df.query(
    """
     (home_team == 'Brazil' and away_team == 'Germany') or (home_team == 'Germany' and away_team == 'Brazil')
    """
)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
131,1993-11-17,Germany,Brazil,Europe,South America,4,1,0,0,2,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2950,1998-03-25,Germany,Brazil,Europe,South America,2,1,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
3840,1999-07-24,Brazil,Germany,South America,Europe,1,5,0,0,4,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
6410,2002-06-30,Germany,Brazil,Europe,South America,11,2,0,0,0,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
8318,2004-09-08,Germany,Brazil,Europe,South America,11,1,0,0,1,...,Draw,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2004
8990,2005-06-25,Germany,Brazil,Europe,South America,21,1,0,0,2,...,Lose,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2005
14204,2011-08-10,Germany,Brazil,Europe,South America,3,4,0,0,3,...,Win,86.0,86.0,82.0,83.3,82.2,84.5,84.0,81.8,2011
16931,2014-07-08,Brazil,Germany,South America,Europe,3,2,1242,1299,1,...,Lose,82.0,87.0,84.8,84.0,83.2,84.5,84.7,86.0,2014
20216,2018-03-27,Germany,Brazil,Europe,South America,1,2,1609,1489,0,...,Lose,92.0,83.0,85.8,82.0,87.5,86.8,87.0,83.8,2018

In [30]:
df.query(
    """
     (home_team == 'Brazil' and away_team == 'Germany') or (home_team == 'Germany' and away_team == 'Brazil')
    """
).tournament.unique()

array(['Friendly', 'Confederations Cup', 'FIFA World Cup'], dtype=object)

### Qual o time com mais vitórias? E no torneio da Copa?

Entram as agregações!

#### Vendo todos os torneios

In [31]:
# Buscando nos casos de home_team vencer
(
    df
    [df.home_team_result == 'Win']
    .groupby('home_team')
    .count()
    ["date"]
    .sort_values(ascending=False)
)

home_team
USA                         194
Mexico                      190
Brazil                      181
Saudi Arabia                164
Egypt                       163
                           ...
Turks and Caicos Islands      2
Somalia                       2
Cook Islands                  2
Anguilla                      1
San Marino                    1
Name: date, Length: 211, dtype: int64

In [32]:
# Buscando nos casos de away_team vencer
(
    df
    [df.home_team_result == 'Lose']
    .groupby('away_team')
    .count()
    ["date"]
    .sort_values(ascending=False)
)

away_team
Brazil                   120
Spain                    101
Germany                  101
Zambia                    88
Argentina                 86
                        ...
Timor-Leste                1
Anguilla                   1
Andorra                    1
American Samoa             1
São Tomé and Príncipe      1
Name: date, Length: 209, dtype: int64

#### Só Copa

In [33]:
# Vendo só copa. Buscando nos casos de home_team vencer
(
    df
    [
        (df.home_team_result == 'Win') 
        & (df.tournament == 'FIFA World Cup')
    ]
    .groupby('home_team')
    .count()
    ["date"]
    .sort_values(ascending=False)
)

home_team
Brazil                    24
Germany                   21
Argentina                 17
France                    14
Netherlands               12
Belgium                   10
Italy                     10
Spain                      9
Portugal                   7
Korea Republic             7
Sweden                     6
England                    5
Russia                     5
Uruguay                    5
Mexico                     4
Colombia                   4
Nigeria                    4
Japan                      3
USA                        3
Croatia                    3
Romania                    3
Chile                      2
Switzerland                2
Bulgaria                   2
South Africa               2
Saudi Arabia               2
Ecuador                    2
Paraguay                   2
Australia                  2
Greece                     2
Côte d'Ivoire              2
Denmark                    1
Norway                     1
Cameroon                   1
Costa Rica                 1
Slovakia                   1
Bosnia and Herzegovina     1
Ghana                      1
Turkey                     1
Ukraine                    1
Poland                     1
Name: date, dtype: int64

In [34]:
# Vendo só copa. Buscando nos casos de away_team vencer
(
    df
    [(df.home_team_result == 'Lose') & (df.tournament == 'FIFA World Cup')]
    .groupby('away_team')
    .count()
    ["date"]
    .sort_values(ascending=False)
)

away_team
Croatia                10
Spain                   9
Brazil                  8
Germany                 8
Netherlands             7
England                 7
Mexico                  6
France                  6
Uruguay                 5
Denmark                 5
Italy                   5
Switzerland             5
Colombia                4
Argentina               4
Paraguay                3
Costa Rica              3
Ghana                   3
Sweden                  3
Turkey                  3
Senegal                 3
Belgium                 3
Republic of Ireland     2
Romania                 2
Poland                  2
Portugal                2
IR Iran                 2
Nigeria                 2
Japan                   2
Ecuador                 2
USA                     2
Ukraine                 2
Chile                   2
Bulgaria                2
Serbia                  2
Tunisia                 1
Algeria                 1
Slovenia                1
Saudi Arabia            1
Peru                    1
Norway                  1
Jamaica                 1
Côte d'Ivoire           1
Czech Republic          1
Morocco                 1
Name: date, dtype: int64

In [35]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993

In [36]:
df.year

0        1993
1        1993
2        1993
3        1993
4        1993
         ...
23916    2022
23917    2022
23918    2022
23919    2022
23920    2022
Name: year, Length: 23921, dtype: int64

### Desafio

Tente fazer uma análise única que veja os casos de home_team e away_team ao mesmo tempo para gerar uma só lista de vitórias, decrescente.

### Qual o time menos vitórias? e na Copa?

Basta ver os resultados anteriores em ordem ascendente.

### Quantos jogos por ano? Quantos torneios por ano?

In [37]:
(
    df
    .groupby('year')
    .count()
    ['home_team']
)

year
1993     171
1994     494
1995     564
1996     781
1997     797
1998     636
1999     670
2000     993
2001     953
2002     701
2003     851
2004    1016
2005     741
2006     763
2007     910
2008    1034
2009     836
2010     790
2011    1022
2012     927
2013     942
2014     788
2015     938
2016     867
2017     885
2018     830
2019    1075
2020     298
2021    1077
2022     571
Name: home_team, dtype: int64

In [38]:
(
    df
    .groupby('year')
    .agg({
        'tournament': ['nunique', 'count']
    })
)

     tournament
        nunique count
year
1993          4   171
1994         16   494
1995         25   564
1996         23   781
1997         23   797
1998         26   636
1999         23   670
2000         26   993
2001         24   953
2002         22   701
2003         24   851
2004         19  1016
2005         19   741
2006         19   763
2007         23   910
2008         22  1034
2009         16   836
2010         19   790
2011         22  1022
2012         22   927
2013         20   942
2014         18   788
2015         17   938
2016         19   867
2017         20   885
2018         17   830
2019         19  1075
2020          4   298
2021         18  1077
2022         10   571

### Quantos países sediam jogos por ano? Qual país mais sediou jogos em um dado ano?

In [39]:
(
    df
    .groupby(['year', 'country'])
    .count()
)

                 date  home_team  away_team  home_team_continent  \
year country
1993 Albania        2          2          2                    2
     Algeria        1          1          1                    1
     Argentina      4          4          4                    4
     Australia      2          2          2                    2
     Austria        2          2          2                    2
...               ...        ...        ...                  ...
2022 Uzbekistan    10         10         10                   10
     Venezuela      2          2          2                    2
     Vietnam        3          3          3                    3
     Wales          5          5          5                    5
     Zambia         1          1          1                    1

                 away_team_continent  home_team_fifa_rank  \
year country
1993 Albania                       2                    2
     Algeria                       1                    1
     Argentina                     4                    4
     Australia                     2                    2
     Austria                       2                    2
...                              ...                  ...
2022 Uzbekistan                   10                   10
     Venezuela                     2                    2
     Vietnam                       3                    3
     Wales                         5                    5
     Zambia                        1                    1

                 away_team_fifa_rank  home_team_total_fifa_points  \
year country
1993 Albania                       2                            2
     Algeria                       1                            1
     Argentina                     4                            4
     Australia                     2                            2
     Austria                       2                            2
...                              ...                          ...
2022 Uzbekistan                   10                           10
     Venezuela                     2                            2
     Vietnam                       3                            3
     Wales                         5                            5
     Zambia                        1                            1

                 away_team_total_fifa_points  home_team_score  ...  shoot_out  \
year country                                                   ...
1993 Albania                               2                2  ...          2
     Algeria                               1                1  ...          1
     Argentina                             4                4  ...          4
     Australia                             2                2  ...          2
     Austria                               2                2  ...          2
...                                      ...              ...  ...        ...
2022 Uzbekistan                           10               10  ...         10
     Venezuela                             2                2  ...          2
     Vietnam                               3                3  ...          3
     Wales                                 5                5  ...          5
     Zambia                                1                1  ...          1

                 home_team_result  home_team_goalkeeper_score  \
year country
1993 Albania                    2                           0
     Algeria                    1                           0
     Argentina                  4                           0
     Australia                  2                           0
     Austria                    2                           0
...                           ...                         ...
2022 Uzbekistan                10                           1
     Venezuela                  2                           2
     Vietnam                    3                           3
     Wales                      5                           5
     Zambia                     1                           0

                 away_team_goalkeeper_score  home_team_mean_defense_score  \
year country
1993 Albania                              0                             0
     Algeria                              0                             0
     Argentina                            0                             0
     Australia                            0                             0
     Austria                              0                             0
...                                     ...                           ...
2022 Uzbekistan                           2                             0
     Venezuela                            2                             2
     Vietnam                              1                             0
     Wales                                5                             5
     Zambia                               0                             0

                 home_team_mean_offense_score  home_team_mean_midfield_score  \
year country
1993 Albania                                0                              0
     Algeria                                0                              0
     Argentina                              0                              0
     Australia                              0                              0
     Austria                                0                              0
...                                       ...                            ...
2022 Uzbekistan                             0                              0
     Venezuela                              2                              2
     Vietnam                                0                              0
     Wales                                  5                              5
     Zambia                                 1                              0

                 away_team_mean_defense_score  away_team_mean_offense_score  \
year country
1993 Albania                                0                             0
     Algeria                                0                             0
     Argentina                              0                             0
     Australia                              0                             0
     Austria                                0                             0
...                                       ...                           ...
2022 Uzbekistan                             0                             2
     Venezuela                              2                             2
     Vietnam                                1                             1
     Wales                                  5                             5
     Zambia                                 0                             0

                 away_team_mean_midfield_score
year country
1993 Albania                                 0
     Algeria                                 0
     Argentina                               0
     Australia                               0
     Austria                                 0
...                                        ...
2022 Uzbekistan                              0
     Venezuela                               2
     Vietnam                                 1
     Wales                                   5
     Zambia                                  1

[4543 rows x 24 columns]

In [40]:
# vendo qual mais sediou jogos no home_team
(
    df
    .groupby(['year', 'country'])
    .count()
    ['home_team']
    .sort_values(ascending=False)
)

year  country
1994  USA             89
2006  Germany         84
2010  South Africa    80
2018  Russia          72
1998  France          71
                      ..
2018  Uruguay          1
2006  Lithuania        1
      Liberia          1
      Kenya            1
2022  Zambia           1
Name: home_team, Length: 4543, dtype: int64

### Quais times tem mais ofensa, defesa e meio campo?

Vamos filtrar os dados mais recentes de cada time, usando primeiro um ranking.

In [41]:
df.shape

(23921, 26)

In [42]:
df[(df.home_team == 'Brazil') | (df.away_team == 'Brazil')]

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
14,1993-08-15,Uruguay,Brazil,South America,South America,22,8,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
17,1993-08-22,Brazil,Ecuador,South America,South America,8,35,0,0,2,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
23,1993-08-29,Brazil,Bolivia,South America,South America,8,59,0,0,6,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
28,1993-09-05,Brazil,Venezuela,South America,South America,8,94,0,0,4,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23456,2022-02-01,Brazil,Paraguay,South America,South America,2,43,1826,1454,4,...,Win,89.0,72.0,84.8,86.3,85.5,74.2,74.3,76.2,2022
23497,2022-03-24,Brazil,Chile,South America,South America,2,26,1823,1543,4,...,Win,89.0,79.0,84.8,86.3,85.5,75.5,76.7,78.2,2022
23588,2022-03-29,Bolivia,Brazil,South America,South America,76,2,1308,1823,0,...,Lose,70.0,89.0,68.8,68.3,68.8,84.8,86.3,85.5,2022
23686,2022-06-02,Korea Republic,Brazil,Asia,South America,29,1,1519,1832,1,...,Lose,75.0,89.0,73.0,80.0,73.8,84.8,86.3,85.5,2022
23760,2022-06-06,Japan,Brazil,Asia,South America,23,1,1553,1832,0,...,Lose,73.0,89.0,75.2,75.0,77.5,84.8,86.3,85.5,2022

In [43]:
df.shape

(23921, 26)

In [44]:
(
    df
    .groupby('home_team')
    .rank(ascending=False)
    ['date']
)

0        126.0
1        233.0
2        146.0
3        103.0
4        121.0
         ...
23916      1.0
23917      1.0
23918      1.0
23919      1.0
23920      1.0
Name: date, Length: 23921, dtype: float64

In [45]:
df_recent = df.copy()

df_recent['rnk'] = df_recent.groupby('home_team').rank(ascending=False)['date']

# df_recent[(df_recent.home_team == 'Brazil')]

df_recent = df_recent[df_recent.rnk == 1]

In [46]:
df_recent[df_recent.home_team == 'Brazil']

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year,rnk
23497,2022-03-24,Brazil,Chile,South America,South America,2,26,1823,1543,4,...,89.0,79.0,84.8,86.3,85.5,75.5,76.7,78.2,2022,1.0

In [47]:
# Top 10 vendo home team
(
    df_recent
    .sort_values(by='home_team_mean_offense_score', ascending=False)
    [['date','home_team', 'home_team_fifa_rank', 'home_team_mean_offense_score']]
    .head(10)
)

            date  home_team  home_team_fifa_rank  home_team_mean_offense_score
23741 2022-06-05  Argentina                    4                          89.0
23885 2022-06-13     France                    3                          88.3
23906 2022-06-14    England                    5                          88.0
23497 2022-03-24     Brazil                    2                          86.3
23810 2022-06-09   Portugal                    8                          86.0
23794 2022-06-08    Belgium                    2                          85.7
23770 2022-06-07      Italy                    6                          85.3
23866 2022-06-12      Spain                    7                          85.0
23909 2022-06-14     Poland                   26                          84.7
23862 2022-06-11    Uruguay                   13                          84.3

In [48]:
# Top 10 vendo away team
(
    df_recent
    .sort_values(by='away_team_mean_offense_score', ascending=False)
    [['date','away_team', 'away_team_fifa_rank', 'away_team_mean_offense_score']]
    .head(10)
)

            date away_team  away_team_fifa_rank  home_team_mean_offense_score
23753 2022-06-06    France                    3                          76.7
23826 2022-06-10    France                    3                          77.0
23588 2022-03-29    Brazil                    2                          68.3
23867 2022-06-12  Portugal                    8                          76.7
23853 2022-06-11   Belgium                    2                          73.0
23909 2022-06-14   Belgium                    2                          84.7
23907 2022-06-14     Italy                    6                          82.7
23733 2022-06-05     Spain                    7                          76.7
23794 2022-06-08    Poland                   26                          85.7
23852 2022-06-11   Germany                   12                          72.7

O processo é o mesmo para defesa e meio de campo :)

### Existem times que nunca se enfrentaram? Se sim, quantas partidas poderiam ser jogadas entre dois times mas nunca foram?

In [49]:
# Todos os times do dataset

all_teams = set(df.home_team.to_list() + df.away_team.to_list())
len(all_teams)

211

In [51]:
all_teams

{'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China PR',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo DR',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'IR Iran',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea DPR',
 'Korea Republic',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Ireland',
 'Romania',
 'Russia',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Scotland',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'São Tomé and Príncipe',
 'Tahiti',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'US Virgin Islands',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wales',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [53]:
# Tuplas que se enfrentaram, mas precisa ordenar pra fazer o set primeiro.

distinct_matches = set(zip(df.home_team, df.away_team))
distinct_matches_sorted = set([tuple(sorted(v)) for v in distinct_matches])

print("Matches not sorted: ", len(distinct_matches))
print("Matches sorted: ", len(distinct_matches_sorted))
distinct_matches

Matches not sorted:  9011
Matches sorted:  5527

{('Equatorial Guinea', 'Gambia'),
 ('Nigeria', 'Gabon'),
 ('Guinea-Bissau', 'Burkina Faso'),
 ('England', 'Denmark'),
 ('North Macedonia', 'Hungary'),
 ('Ethiopia', 'Malawi'),
 ('Belarus', 'Libya'),
 ('Nigeria', 'Uganda'),
 ('Saudi Arabia', 'Gabon'),
 ('Trinidad and Tobago', 'Honduras'),
 ('Solomon Islands', 'American Samoa'),
 ('Saudi Arabia', 'Uganda'),
 ('Vietnam', 'Mongolia'),
 ('Togo', 'Senegal'),
 ('Honduras', 'Uruguay'),
 ('Switzerland', 'Israel'),
 ('Korea DPR', 'Chinese Taipei'),
 ('Zambia', "Côte d'Ivoire"),
 ('South Africa', 'Madagascar'),
 ('Russia', 'Ukraine'),
 ('Guyana', 'Suriname'),
 ('Scotland', 'Greece'),
 ('Kyrgyz Republic', 'Kuwait'),
 ('Cameroon', 'Saudi Arabia'),
 ('Liechtenstein', 'Belarus'),
 ('Norway', 'Lithuania'),
 ('Belarus', 'United Arab Emirates'),
 ('Luxembourg', 'Qatar'),
 ('Bahrain', 'Togo'),
 ('Korea Republic', 'Poland'),
 ('Venezuela', 'Australia'),
 ('Slovakia', 'Paraguay'),
 ('South Sudan', 'Uganda'),
 ('Ghana', 'Burkina Faso'),
 ('Norway', 'Slovenia'),
 ('Madagascar', 'Benin'),
 ('France', 'Poland'),
 ('Netherlands', 'Wales'),
 ('Armenia', 'Poland'),
 ('Mauritius', 'Gabon'),
 ('Curaçao', 'Trinidad and Tobago'),
 ('Turkmenistan', 'Jordan'),
 ('Wales', 'Norway'),
 ('Spain', 'Nigeria'),
 ('Botswana', 'Zimbabwe'),
 ('Myanmar', 'Singapore'),
 ('Czech Republic', 'Costa Rica'),
 ('Poland', 'Israel'),
 ('China PR', 'Macau'),
 ('Lebanon', 'Sudan'),
 ('Argentina', 'Portugal'),
 ('Qatar', 'Egypt'),
 ('Guatemala', 'Bolivia'),
 ('Liechtenstein', 'Iceland'),
 ('Gabon', 'Egypt'),
 ('Bosnia and Herzegovina', 'Indonesia'),
 ('Sudan', "Côte d'Ivoire"),
 ('Lithuania', 'Ukraine'),
 ('Seychelles', 'Congo DR'),
 ('Germany', 'Malta'),
 ('Bosnia and Herzegovina', 'France'),
 ('Belgium', 'Spain'),
 ('Bhutan', 'Mongolia'),
 ('Faroe Islands', 'Portugal'),
 ('Nepal', 'Chinese Taipei'),
 ('South Africa', 'Lesotho'),
 ('Australia', 'Kuwait'),
 ('IR Iran', 'Costa Rica'),
 ('Morocco', 'Gambia'),
 ('Korea Republic', 'Qatar'),
 ('Oman', 'Singapore'),
 ('North Macedonia', 'Ecuador'),
 ('Spain', 'France'),
 ('Japan', 'Cambodia'),
 ('Jamaica', 'Croatia'),
 ('Malta', 'Estonia'),
 ('Egypt', 'Saudi Arabia'),
 ('Canada', 'Netherlands'),
 ('Vietnam', 'Nepal'),
 ('Zambia', 'Chad'),
 ('United Arab Emirates', 'Bahrain'),
 ('Australia', 'Paraguay'),
 ('Trinidad and Tobago', 'Guyana'),
 ('Bahrain', 'Palestine'),
 ('Austria', 'Greece'),
 ('Mauritania', 'Angola'),
 ('Cabo Verde', 'Togo'),
 ('Uruguay', 'Netherlands'),
 ('Libya', 'Canada'),
 ('Korea Republic', 'Turkmenistan'),
 ('Djibouti', 'Niger'),
 ('Japan', 'Singapore'),
 ('IR Iran', 'Sierra Leone'),
 ('Angola', 'Mali'),
 ('Andorra', 'Wales'),
 ('Cambodia', 'Malaysia'),
 ('Montenegro', 'Serbia'),
 ('Finland', 'Italy'),
 ('Thailand', 'Macau'),
 ('Norway', 'Malta'),
 ('China PR', 'Serbia'),
 ('Tanzania', 'Ghana'),
 ('Cambodia', 'Macau'),
 ('Trinidad and Tobago', 'Jamaica'),
 ('Liechtenstein', 'Armenia'),
 ('Mali', 'Liberia'),
 ('Haiti', 'Bahamas'),
 ('Sudan', 'Chad'),
 ('Turkey', 'Belgium'),
 ('Cameroon', 'Togo'),
 ('Libya', 'Cabo Verde'),
 ('Bahrain', 'New Zealand'),
 ('England', 'Montenegro'),
 ('Brazil', 'Romania'),
 ('Ethiopia', 'Morocco'),
 ('Qatar', 'Thailand'),
 ('Japan', 'Peru'),
 ('Tunisia', 'Uganda'),
 ('Mali', 'Uganda'),
 ('San Marino', 'Gibraltar'),
 ('Yemen', 'Ethiopia'),
 ('Belgium', 'Bulgaria'),
 ('Kazakhstan', 'Denmark'),
 ('Moldova', 'United Arab Emirates'),
 ('Russia', 'Costa Rica'),
 ('Burundi', 'Zambia'),
 ('Iceland', 'Saudi Arabia'),
 ('Algeria', 'Brazil'),
 ('Tajikistan', 'Australia'),
 ('Sudan', 'South Africa'),
 ('Wales', 'San Marino'),
 ('St. Lucia', 'Antigua and Barbuda'),
 ('Chile', 'IR Iran'),
 ('United Arab Emirates', 'Jordan'),
 ('Czech Republic', 'Wales'),
 ('Korea Republic', 'Venezuela'),
 ('Republic of Ireland', 'Canada'),
 ('Sri Lanka', 'Malaysia'),
 ('Yemen', 'Malawi'),
 ('Palestine', 'Pakistan'),
 ('Uganda', 'Guinea-Bissau'),
 ('Germany', 'New Zealand'),
 ('Georgia', 'Spain'),
 ('Ethiopia', 'Yemen'),
 ('Iraq', 'IR Iran'),
 ('Iceland', 'Lithuania'),
 ('Estonia', 'Belgium'),
 ('Sri Lanka', 'Macau'),
 ('Latvia', 'Czech Republic'),
 ('Malta', 'Kuwait'),
 ('Malaysia', 'Papua New Guinea'),
 ('Northern Ireland', 'France'),
 ('Oman', 'Sweden'),
 ('Iceland', 'Slovenia'),
 ('India', 'Nepal'),
 ('Guinea-Bissau', 'Senegal'),
 ('France', "Côte d'Ivoire"),
 ('Madagascar', 'Botswana'),
 ('Fiji', 'New Caledonia'),
 ('United Arab Emirates', 'Lebanon'),
 ('Finland', 'Lithuania'),
 ('Estonia', 'Jordan'),
 ('US Virgin Islands', 'Barbados'),
 ('Afghanistan', 'Japan'),
 ('Honduras', 'Korea Republic'),
 ('Bosnia and Herzegovina', 'Cyprus'),
 ('South Africa', 'Egypt'),
 ('Finland', 'Slovenia'),
 ('Egypt', 'Togo'),
 ('Spain', 'Cyprus'),
 ('Montenegro', 'Lithuania'),
 ('Switzerland', 'Romania'),
 ('Egypt', 'Malta'),
 ('Senegal', 'Benin'),
 ('Netherlands', 'Turkey'),
 ('Mali', 'Angola'),
 ('Israel', 'Hungary'),
 ('Georgia', 'Finland'),
 ('Hungary', 'Italy'),
 ('Faroe Islands', 'Czech Republic'),
 ('Syria', 'Sri Lanka'),
 ('Mauritania', 'Burkina Faso'),
 ('Slovenia', 'Tunisia'),
 ('Turkey', 'Norway'),
 ('Colombia', 'Chile'),
 ('Belgium', 'Panama'),
 ('Gabon', "Côte d'Ivoire"),
 ('Cook Islands', 'Samoa'),
 ('Belgium', 'USA'),
 ('Qatar', 'Tajikistan'),
 ("Côte d'Ivoire", 'Libya'),
 ('Saudi Arabia', 'Gambia'),
 ('Ghana', 'Senegal'),
 ('Vietnam', 'Malaysia'),
 ('Madagascar', 'Mali'),
 ('United Arab Emirates', 'Norway'),
 ('Uganda', 'Cabo Verde'),
 ('Vietnam', 'Macau'),
 ('Poland', 'Romania'),
 ('Belarus', 'Czech Republic'),
 ('Vanuatu', 'Fiji'),
 ('Brunei Darussalam', 'Malaysia'),
 ('Comoros', 'Madagascar'),
 ('South Sudan', 'Gambia'),
 ('Georgia', 'Bulgaria'),
 ('Georgia', 'Moldova'),
 ('Georgia', 'England'),
 ('Romania', 'Albania'),
 ('Guatemala', 'Cuba'),
 ('Argentina', 'Germany'),
 ('Kuwait', 'Jordan'),
 ('Cayman Islands', 'Haiti'),
 ('Greece', 'Portugal'),
 ('Estonia', 'Norway'),
 ('Palestine', 'Afghanistan'),
 ('Myanmar', 'Bolivia'),
 ('St. Lucia', 'Turks and Caicos Islands'),
 ('Turkey', 'Latvia'),
 ('Cyprus', 'Poland'),
 ('Lesotho', 'Zambia'),
 ('Cambodia', 'Saudi Arabia'),
 ('Poland', 'Colombia'),
 ('Faroe Islands', 'Germany'),
 ('Tanzania', 'Madagascar'),
 ('Bolivia', 'Honduras'),
 ('Australia', 'Iraq'),
 ('Iceland', 'Malta'),
 ('El Salvador', 'St. Lucia'),
 ('Montenegro', 'Turkey'),
 ('Myanmar', 'Oman'),
 ('France', 'South Africa'),
 ('Zimbabwe', 'Senegal'),
 ('England', 'Algeria'),
 ('Botswana', 'Seychelles'),
 ('Luxembourg', 'Denmark'),
 ('Lesotho', 'Eswatini'),
 ('Togo', 'Switzerland'),
 ('China PR', 'Hong Kong'),
 ('South Africa', 'Thailand'),
 ('Andorra', 'Turkey'),
 ('Bosnia and Herzegovina', 'Egypt'),
 ('Republic of Ireland', 'Croatia'),
 ('Finland', 'Malta'),
 ('Grenada', 'Honduras'),
 ('Azerbaijan', 'Georgia'),
 ('Pakistan', 'Cambodia'),
 ('Denmark', 'Republic of Ireland'),
 ('Republic of Ireland', 'Slovakia'),
 ('Gabon', 'Chad'),
 ('Spain', 'Egypt'),
 ('IR Iran', 'Tunisia'),
 ('Gambia', "Côte d'Ivoire"),
 ('Wales', 'Australia'),
 ('Oman', 'Finland'),
 ('Comoros', 'Lesotho'),
 ('Belarus', 'Germany'),
 ('Northern Ireland', 'Cyprus'),
 ('Switzerland', 'Kosovo'),
 ('Italy', 'Ecuador'),
 ('Singapore', 'Kuwait'),
 ('Canada', 'North Macedonia'),
 ('Egypt', 'New Zealand'),
 ('Australia', 'Vanuatu'),
 ('Barbados', 'Dominican Republic'),
 ('IR Iran', 'Morocco'),
 ('Benin', 'Rwanda'),
 ('Gibraltar', 'Bosnia and Herzegovina'),
 ('Sri Lanka', 'Saudi Arabia'),
 ('Latvia', 'Sweden'),
 ('Mexico', 'Bosnia and Herzegovina'),
 ('Zambia', 'Mozambique'),
 ('Sweden', 'Greece'),
 ('Syria', 'Cameroon'),
 ('Norway', 'Honduras'),
 ('Turkey', 'San Marino'),
 ("Côte d'Ivoire", 'Portugal'),
 ('Kazakhstan', 'Georgia'),
 ('Wales', 'Trinidad and Tobago'),
 ('Japan', 'Finland'),
 ('Korea Republic', 'IR Iran'),
 ('France', 'Denmark'),
 ('Liberia', 'Mauritania'),
 ('Armenia', 'Denmark'),
 ('Croatia', 'Slovakia'),
 ('IR Iran', 'Yemen'),
 ('Slovakia', 'Cyprus'),
 ('Armenia', 'IR Iran'),
 ('Faroe Islands', 'Sweden'),
 ('Botswana', 'Mauritius'),
 ('Yemen', 'Hong Kong'),
 ('IR Iran', 'Hong Kong'),
 ('Thailand', 'Hong Kong'),
 ('Senegal', 'Botswana'),
 ('Costa Rica', 'Serbia'),
 ('South Africa', "Côte d'Ivoire"),
 ('Tunisia', 'Gambia'),
 ('Mali', 'Gambia'),
 ('Sudan', 'Mozambique'),
 ('Scotland', 'Sweden'),
 ('Gambia', 'Chad'),
 ('Moldova', 'Czech Republic'),
 ('Estonia', 'San Marino'),
 ('Equatorial Guinea', 'Libya'),
 ('Afghanistan', 'Jordan'),
 ('Qatar', 'Singapore'),
 ('China PR', 'Palestine'),
 ('Japan', 'Bulgaria'),
 ('Vietnam', 'Saudi Arabia'),
 ('Japan', 'England'),
 ('Belarus', 'Sweden'),
 ('Germany', 'Faroe Islands'),
 ('Israel', 'Chile'),
 ('Zambia', 'Niger'),
 ('Belgium', 'Italy'),
 ('Grenada', 'Guyana'),
 ('Dominica', 'Barbados'),
 ('Gambia', 'South Africa'),
 ('Portugal', 'Spain'),
 ('Russia', 'Morocco'),
 ('Niger', 'Congo DR'),
 ('Congo DR', 'Lesotho'),
 ('Mauritius', 'Namibia'),
 ('Bermuda', 'El Salvador'),
 ('Qatar', 'Peru'),
 ('Mauritania', 'Senegal'),
 ('Panama', 'Armenia'),
 ('Rwanda', 'Burundi'),
 ('Colombia', 'Qatar'),
 ('Nigeria', 'Korea DPR'),
 ('Uruguay', 'Japan'),
 ('Costa Rica', 'Saudi Arabia'),
 ('Mauritius', 'Zimbabwe'),
 ('Jamaica', 'Serbia'),
 ('Comoros', 'Egypt'),
 ('Saudi Arabia', 'Korea DPR'),
 ('Luxembourg', 'Montenegro'),
 ('Sudan', 'Niger'),
 ('Lesotho', 'Cameroon'),
 ('Moldova', 'Germany'),
 ('Sierra Leone', 'Gabon'),
 ('Latvia', 'Bolivia'),
 ('South Africa', 'Chad'),
 ('Grenada', 'Aruba'),
 ('Lesotho', 'Tanzania'),
 ('Saudi Arabia', 'China PR'),
 ('San Marino', 'Cyprus'),
 ('Ecuador', 'Jordan'),
 ('Estonia', 'Gibraltar'),
 ('Mexico', 'Dominica'),
 ('Libya', 'Argentina'),
 ('Turkmenistan', 'Indonesia'),
 ('Latvia', 'Oman'),
 ('Lithuania', 'Liechtenstein'),
 ('Japan', 'Panama'),
 ('Austria', 'Sweden'),
 ('Thailand', 'Palestine'),
 ('Philippines', 'Kuwait'),
 ('Equatorial Guinea', 'Mauritius'),
 ('Netherlands', 'Andorra'),
 ('Togo', 'Benin'),
 ('Greece', 'Germany'),
 ('Brazil', 'Korea DPR'),
 ('Cambodia', 'Palestine'),
 ('Turkey', 'Ghana'),
 ('Morocco', 'Libya'),
 ('Norway', 'Jamaica'),
 ('Brazil', 'China PR'),
 ('Puerto Rico', 'St. Kitts and Nevis'),
 ('Luxembourg', 'Georgia'),
 ('Chile', 'Guinea'),
 ('Senegal', 'Norway'),
 ('Ukraine', 'Niger'),
 ('Portugal', 'Bulgaria'),
 ('Serbia', 'Hungary'),
 ('Portugal', 'Moldova'),
 ('Portugal', 'England'),
 ('Peru', 'Panama'),
 ('Burundi', 'Rwanda'),
 ('Seychelles', 'Burkina Faso'),
 ('Indonesia', 'Guyana'),
 ('Zambia', 'Guinea'),
 ('Armenia', 'Montenegro'),
 ('Jamaica', 'Saudi Arabia'),
 ('Scotland', 'Finland'),
 ('United Arab Emirates', 'Australia'),
 ('Iraq', 'Kenya'),
 ('Italy', 'Republic of Ireland'),
 ('Lithuania', 'Switzerland'),
 ('Zambia', 'Kenya'),
 ('Colombia', 'Venezuela'),
 ('Romania', 'Northern Ireland'),
 ('Singapore', 'Brunei Darussalam'),
 ('Republic of Ireland', 'Argentina'),
 ('Syria', 'Mauritania'),
 ('Laos', 'Qatar'),
 ('Singapore', 'Iraq'),
 ('Liberia', 'Angola'),
 ('St. Lucia', 'St. Vincent and the Grenadines'),
 ('Costa Rica', 'Turkey'),
 ('Korea Republic', 'Georgia'),
 ('Slovakia', 'Greece'),
 ('Indonesia', 'Jamaica'),
 ('Bhutan', 'Yemen'),
 ('Libya', 'Ethiopia'),
 ('France', 'Georgia'),
 ('United Arab Emirates', 'Trinidad and Tobago'),
 ('Congo DR', 'Egypt'),
 ('Gabon', 'Mozambique'),
 ('Ukraine', 'Bulgaria'),
 ('Armenia', 'Georgia'),
 ('Ukraine', 'Moldova'),
 ('Germany', 'Estonia'),
 ('Sweden', 'Czech Republic'),
 ('Switzerland', 'China PR'),
 ('Austria', 'Spain'),
 ('Sudan', 'Guinea'),
 ('Scotland', 'England'),
 ('Zambia', 'Sudan'),
 ('Bhutan', 'Hong Kong'),
 ('Cayman Islands', 'Dominican Republic'),
 ('Laos', 'Turkmenistan'),
 ('Portugal', 'Panama'),
 ('Trinidad and Tobago', 'Anguilla'),
 ('Libya', 'Malawi'),
 ('Sudan', 'Kenya'),
 ('England', 'Saudi Arabia'),
 ('Portugal', 'USA'),
 ('Tajikistan', 'Turkmenistan'),
 ('Guinea-Bissau', 'São Tomé and Príncipe'),
 ('Uganda', 'Comoros'),
 ('Singapore', 'Zimbabwe'),
 ('Estonia', 'Trinidad and Tobago'),
 ('Chad', 'Sudan'),
 ('Croatia', 'Argentina'),
 ('India', 'Yemen'),
 ('Belize', 'Turks and Caicos Islands'),
 ('Mozambique', 'Nigeria'),
 ('Cameroon', 'Gabon'),
 ('Vietnam', 'Palestine'),
 ('Mexico', 'Ghana'),
 ('India', 'Hong Kong'),
 ('Iraq', 'Malaysia'),
 ('Austria', 'Finland'),
 ('Mexico', 'St. Kitts and Nevis'),
 ('Luxembourg', 'Algeria'),
 ('Mexico', 'Hungary'),
 ('Oman', 'Azerbaijan'),
 ('Mongolia', 'Kyrgyz Republic'),
 ('Brazil', 'Haiti'),
 ('Iraq', 'Macau'),
 ('Kuwait', 'Australia'),
 ('Haiti', 'Belize'),
 ('British Virgin Islands', 'Anguilla'),
 ('Honduras', 'Colombia'),
 ('Australia', 'Greece'),
 ('Burkina Faso', 'Eswatini'),
 ('Latvia', 'Albania'),
 ('Malawi', 'Nigeria'),
 ('Norway', 'Estonia'),
 ('Gabon', 'Niger'),
 ('Canada', 'El Salvador'),
 ('Bahrain', 'Kuwait'),
 ('Romania', 'Republic of Ireland'),
 ('Barbados', 'Suriname'),
 ('Ghana', 'São Tomé and Príncipe'),
 ('Iceland', 'Faroe Islands'),
 ('Estonia', 'Indonesia'),
 ('Puerto Rico', 'Cayman Islands'),
 ('Jordan', 'Bangladesh'),
 ('Mozambique', 'Namibia'),
 ('Qatar', 'Finland'),
 ('Rwanda', 'Uganda'),
 ('Equatorial Guinea', 'Congo'),
 ('Malaysia', 'Bhutan'),
 ('USA', 'Argentina'),
 ('Nigeria', 'Libya'),
 ('Togo', 'Botswana'),
 ('Austria', 'England'),
 ('Saudi Arabia', 'Libya'),
 ('Kuwait', 'Trinidad and Tobago'),
 ('Japan', 'Italy'),
 ('Wales', 'Poland'),
 ('Bulgaria', 'Russia'),
 ('Liberia', 'Burkina Faso'),
 ('Korea Republic', 'Algeria'),
 ('Slovenia', 'Luxembourg'),
 ('Egypt', 'Gabon'),
 ('Republic of Ireland', 'Wales'),
 ('Germany', 'Kuwait'),
 ('Uganda', 'Ethiopia'),
 ('Bolivia', 'Colombia'),
 ('Bangladesh', 'Jordan'),
 ('Finland', 'Israel'),
 ('France', 'Algeria'),
 ('Central African Republic', 'Nigeria'),
 ('Armenia', 'Algeria'),
 ('Solomon Islands', 'New Zealand'),
 ('Tanzania', 'Central African Republic'),
 ('Saudi Arabia', 'United Arab Emirates'),
 ('England', 'Turkey'),
 ('Kazakhstan', 'Serbia'),
 ('Qatar', 'Bulgaria'),
 ('Qatar', 'Moldova'),
 ('Uganda', 'Malawi'),
 ('South Sudan', 'Seychelles'),
 ('Congo', 'Central African Republic'),
 ('Philippines', 'Brunei Darussalam'),
 ('Germany', 'Paraguay'),
 ('Montserrat', 'Antigua and Barbuda'),
 ('Costa Rica', 'New Zealand'),
 ('Spain', 'Peru'),
 ('Samoa', 'Tahiti'),
 ('Togo', 'Mali'),
 ('Belarus', 'Albania'),
 ('Slovenia', 'Belgium'),
 ('Bangladesh', 'Lebanon'),
 ('Angola', 'Zambia'),
 ('Norway', 'Romania'),
 ('Kuwait', 'Indonesia'),
 ('Algeria', 'Cameroon'),
 ('Sierra Leone', 'Gambia'),
 ('Botswana', 'Sweden'),
 ('Mauritius', 'Seychelles'),
 ('Andorra', 'Belgium'),
 ('Algeria', 'Tanzania'),
 ('South Africa', 'Mozambique'),
 ('Angola', 'Eswatini'),
 ('Egypt', 'Estonia'),
 ('Libya', 'Tunisia'),
 ('Croatia', 'Wales'),
 ('Tanzania', 'Rwanda'),
 ('Czech Republic', 'Luxembourg'),
 ('Azerbaijan', 'Lithuania'),
 ('Gabon', 'South Sudan'),
 ('Austria', 'USA'),
 ('Congo', 'Rwanda'),
 ('Bulgaria', 'Netherlands'),
 ('Libya', 'Morocco'),
 ('Italy', 'Mexico'),
 ('Malta', 'Greece'),
 ('Morocco', 'Congo'),
 ('Gabon', 'Guinea'),
 ('Benin', 'Algeria'),
 ('Kenya', 'Zambia'),
 ('Albania', 'Wales'),
 ('Dominican Republic', 'US Virgin Islands'),
 ('Niger', 'Angola'),
 ('Czech Republic', 'Belgium'),
 ('Gabon', 'Kenya'),
 ('Guatemala', 'Armenia'),
 ('Tanzania', 'South Africa'),
 ('Portugal', 'Italy'),
 ('Senegal', 'Ghana'),
 ('Qatar', 'Panama'),
 ('Bermuda', 'St. Kitts and Nevis'),
 ('Kenya', 'Eswatini'),
 ('Latvia', 'Azerbaijan'),
 ('Guyana', 'Mexico'),
 ('Hungary', 'Israel'),
 ('Iraq', 'Saudi Arabia'),
 ('Saudi Arabia', 'Portugal'),
 ('Libya', 'Yemen'),
 ('USA', 'Wales'),
 ('Cameroon', 'Paraguay'),
 ('Kazakhstan', 'Lithuania'),
 ('South Africa', 'Niger'),
 ('Chile', 'Lithuania'),
 ('Burkina Faso', 'Cameroon'),
 ('Slovenia', 'Norway'),
 ('Switzerland', 'United Arab Emirates'),
 ('Oman', 'Uruguay'),
 ('Burkina Faso', 'Tanzania'),
 ('Iceland', 'Estonia'),
 ('Gabon', 'Sudan'),
 ('Gambia', 'Algeria'),
 ('Georgia', 'Belarus'),
 ('IR Iran', 'Jordan'),
 ('Serbia', 'Republic of Ireland'),
 ('Faroe Islands', 'Azerbaijan'),
 ('Romania', 'Austria'),
 ('Brazil', 'Portugal'),
 ('Tunisia', 'Libya'),
 ('Mali', 'Libya'),
 ('Argentina', 'Ecuador'),
 ('Mexico', 'Chile'),
 ('Finland', 'Estonia'),
 ('Tunisia', 'Seychelles'),
 ('Cyprus', 'Georgia'),
 ('Guyana', 'Grenada'),
 ('Gambia', 'South Sudan'),
 ('Eritrea', 'Rwanda'),
 ('Kosovo', 'Spain'),
 ('Trinidad and Tobago', 'Haiti'),
 ('Oman', 'Uzbekistan'),
 ('Jordan', 'Sierra Leone'),
 ('Ukraine', 'Italy'),
 ('Gambia', 'Guinea'),
 ('Panama', 'Colombia'),
 ('St. Kitts and Nevis', 'Chinese Taipei'),
 ('North Macedonia', 'Montenegro'),
 ('North Macedonia', 'Croatia'),
 ('IR Iran', 'Lebanon'),
 ('Uganda', 'Tunisia'),
 ('Poland', 'United Arab Emirates'),
 ('Laos', 'IR Iran'),
 ('Luxembourg', 'Serbia'),
 ('Kyrgyz Republic', 'Singapore'),
 ('Tunisia', 'United Arab Emirates'),
 ('Belarus', 'Azerbaijan'),
 ('Aruba', 'Antigua and Barbuda'),
 ('Moldova', 'Albania'),
 ('Russia', 'Luxembourg'),
 ('Slovenia', 'Latvia'),
 ('Croatia', 'Tunisia'),
 ('Azerbaijan', 'Malta'),
 ('Czech Republic', 'Norway'),
 ('Kuwait', 'Cyprus'),
 ('Bahrain', 'Iraq'),
 ('Turkey', 'Poland'),
 ('United Arab Emirates', 'Egypt'),
 ('Macau', 'Guam'),
 ('Bosnia and Herzegovina', 'Spain'),
 ('Denmark', 'Croatia'),
 ('Kosovo', 'Finland'),
 ('Liechtenstein', 'Russia'),
 ('Ecuador', 'Trinidad and Tobago'),
 ('Bahrain', 'Indonesia'),
 ('Chile', 'Turkey'),
 ('Denmark', 'Slovakia'),
 ('Greece', 'Albania'),
 ('United Arab Emirates', 'Poland'),
 ('Belize', 'St. Vincent and the Grenadines'),
 ('Djibouti', 'Burundi'),
 ('Russia', 'Belgium'),
 ('Niger', 'Burkina Faso'),
 ('Ecuador', 'Nigeria'),
 ('Cayman Islands', 'Suriname'),
 ('Switzerland', 'Portugal'),
 ('Liberia', 'Senegal'),
 ('Finland', 'Romania'),
 ('Bulgaria', 'Switzerland'),
 ('Estonia', 'Egypt'),
 ('Guinea-Bissau', 'Mali'),
 ('Korea Republic', 'Serbia'),
 ('Hong Kong', 'Guam'),
 ('South Africa', 'Guinea'),
 ('France', 'Serbia'),
 ('USA', 'Tunisia'),
 ('Nigeria', 'Congo'),
 ('Armenia', 'Serbia'),
 ('Bahrain', 'Zimbabwe'),
 ('Oman', 'Belarus'),
 ('Israel', 'Denmark'),
 ('Paraguay', 'El Salvador'),
 ('Kosovo', 'Bulgaria'),
 ('Kosovo', 'Moldova'),
 ('Ukraine', 'Slovenia'),
 ('Croatia', 'Turkey'),
 ('Kosovo', 'England'),
 ('Malawi', 'Egypt'),
 ('Saudi Arabia', 'Congo'),
 ('Spain', 'Finland'),
 ('Turkmenistan', 'Tajikistan'),
 ('Bermuda', 'Cayman Islands'),
 ('South Africa', 'Kenya'),
 ('Netherlands', 'Gibraltar'),
 ('Slovenia', 'San Marino'),
 ('Maldives', 'Sri Lanka'),
 ('Ecuador', 'France'),
 ('Poland', 'Portugal'),
 ('Trinidad and Tobago', 'United Arab Emirates'),
 ('Georgia', 'Armenia'),
 ('South Africa', 'Panama'),
 ('Senegal', 'Madagascar'),
 ('Oman', 'Syria'),
 ('Luxembourg', 'Lithuania'),
 ('Anguilla', 'US Virgin Islands'),
 ('Luxembourg', 'Slovenia'),
 ('Ghana', 'Mali'),
 ('Lithuania', 'Mali'),
 ('Guinea', 'Eswatini'),
 ('Poland', 'North Macedonia'),
 ('Faroe Islands', 'Northern Ireland'),
 ('Bosnia and Herzegovina', 'Bulgaria'),
 ('Bosnia and Herzegovina', 'Moldova'),
 ('Sweden', 'Brazil'),
 ('South Africa', 'Sudan'),
 ('Syria', 'Afghanistan'),
 ('St. Kitts and Nevis', 'El Salvador'),
 ('Ethiopia', 'Ghana'),
 ('Aruba', 'Turks and Caicos Islands'),
 ('Central African Republic', 'Egypt'),
 ('Spain', 'Bulgaria'),
 ('Kuwait', 'Egypt'),
 ('Mauritius', 'Congo'),
 ('Malaysia', 'Slovakia'),
 ('Myanmar', 'Korea Republic'),
 ('Spain', 'England'),
 ('United Arab Emirates', 'Turkmenistan'),
 ('Korea Republic', 'Saudi Arabia'),
 ('British Virgin Islands', 'Curaçao'),
 ('Cayman Islands', 'British Virgin Islands'),
 ('USA', 'Turkey'),
 ('England', 'Andorra'),
 ('Comoros', 'Mozambique'),
 ('Antigua and Barbuda', 'US Virgin Islands'),
 ('Belgium', 'Israel'),
 ('France', 'Saudi Arabia'),
 ('Chile', 'Palestine'),
 ('Latvia', 'Uzbekistan'),
 ('Canada', 'St. Kitts and Nevis'),
 ('Mexico', 'Poland'),
 ('Czech Republic', 'San Marino'),
 ('Belarus', 'Northern Ireland'),
 ('Northern Ireland', 'Spain'),
 ('Iraq', 'Palestine'),
 ('Hungary', 'Romania'),
 ('Latvia', 'Kazakhstan'),
 ('Saudi Arabia', 'Chinese Taipei'),
 ('Senegal', 'Lesotho'),
 ('Cabo Verde', 'Zimbabwe'),
 ('France', 'Lithuania'),
 ('Montenegro', 'Gibraltar'),
 ('Oman', 'Korea Republic'),
 ('Malaysia', 'Mongolia'),
 ('Armenia', 'Lithuania'),

## Using Math

To use math directly, we'll calculate number of possible permutations from original teams and subtract `len(distinct_matches)` from it. 

The number of ways to choose $k=2$ teams from $N=211$ teams is 

$$ \binom{N}{k} = \frac{N!}{(N-k)k!} = \frac{211!}{(211-2)!2!}=\frac{211!}{209!2!}$$

And then we subtract all matches that happened from it. Calling it $M$ (which values $5527$), the answer is

$$$$\frac{211!}{209!2!} - $$$$

In [58]:
memo ={}
def factorial(n):
    """
    Fectorial using memoization.
    """
    if n in memo:
        return memo[n]
    elif n == 0:
        return 1
    else:
        x = factorial(n-1) * n
        memo[n] = x
        return x

In [59]:
factorial(2) # 2*1

2

In [60]:
factorial(3) # 3*2*1

6

In [61]:
factorial(4) # 4*3*2*1

24

In [62]:
def solution(N, k, games_that_happened):
    return factorial(N) / factorial(N - k) / factorial(k) - games_that_happened

In [65]:
%time

print("matches: ", len(distinct_matches_sorted))
print("teams: ", len(all_teams))

solution(
    N=len(all_teams), 
    k=2, 
    games_that_happened=len(distinct_matches_sorted)
)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.34 µs
matches:  5527
teams:  211

16628.0


    
# 3. Plots
- Plote o número de gols médio por ano
- Adicione no gráfico anterior o mínimo e máximo de gols por ano
- Plote o número de times em partidas por ano
- Plote o Ranking da FIFA do Brasil e Argentina por ano
- Plote o ataque, defesa e meio de campo do Brasil e Argentina por ano

# 3. Estatística

#### Distribuições e Histogramas

#### Correlações
- O que é uma distribuição de dados? 
- Como é a distribuição de gols por jogo nos jogos do Brasil? Muda se for home_team? ou away_team?
- Como é a mesma distribuição para todos os jogos de Copas?
- Como podemos ver distribuição de placares de jogos?

# 4. Previsões
- Pense e escreva uma estratégia para prever vencedores de partidas na Copa de 2022. O que você levaria em conta? Quais as limtações? 
- Use sua estratégia para prever os finalistas da fase de grupos de 2022
- Faça uma estratégia simples para prever o vencedor da Copa de 2022